extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p Pellentesque nisi enim, volutpat ac purus non, consectetur rhoncus dui. Ut vitae lacus quis lorem pellentesque semper in eu velit. Vivamus venenatis cursus dapibus. Vestibulum condimentum finibus nisi, eu finibus ex euismod sed. Donec eget vehicula ante. Mauris fermentum a urna at lobortis. Vestibulum at ante commodo, facilisis orci quis, rhoncus sem. Suspendisse potenti. Vestibulum fringilla non leo eu porttitor. Vivamus elementum felis quis pretium consectetur. Etiam at magna nibh. Nullam lacinia lacinia lobortis. Nam ac ipsum sit amet quam posuere scelerisque vitae in ex. Duis pulvinar magna a neque posuere elementum.
            a.btn.btn-primary.btn-lg(href='#') Learn more &raquo
    .container
        .row
            .col-md-4
                h2 About Us
                p Quisque vulputate aliquet nisi ac efficitur. Maecenas diam ipsum, faucibus non dui eu, luctus ultricies justo. Suspendisse auctor eu nulla at pulvinar. Phasellus metus nibh, mattis sed ultrices a, tincidunt vel nisi. Proin posuere velit quis metus dapibus, in suscipit eros tempus. Morbi molestie tellus id velit aliquet, ut interdum augue blandit. Ut nec tellus vitae est egestas mattis. Vivamus lobortis leo eu ante tempor dapibus. Donec odio augue, venenatis eget ligula sed, faucibus malesuada nisi. Integer sit amet sem at purus ornare gravida.
                a.btn.btn-sm.btn-outline-dark(href='#') View Details
            .col-md-4
                h2 Services
                p Quisque vulputate aliquet nisi ac efficitur. Maecenas diam ipsum, faucibus non dui eu, luctus ultricies justo. Suspendisse auctor eu nulla at pulvinar. Phasellus metus nibh, mattis sed ultrices a, tincidunt vel nisi. Proin posuere velit quis metus dapibus, in suscipit eros tempus. Morbi molestie tellus id velit aliquet, ut interdum augue blandit. Ut nec tellus vitae est egestas mattis. Vivamus lobortis leo eu ante tempor dapibus. Donec odio augue, venenatis eget ligula sed, faucibus malesuada nisi. Integer sit amet sem at purus ornare gravida.
                a.btn.btn-sm.btn-outline-dark(href='#') View Details
            .col-md-4
                h2 Get In Touch
                p Quisque vulputate aliquet nisi ac efficitur. Maecenas diam ipsum, faucibus non dui eu, luctus ultricies justo. Suspendisse auctor eu nulla at pulvinar. Phasellus metus nibh, mattis sed ultrices a, tincidunt vel nisi. Proin posuere velit quis metus dapibus, in suscipit eros tempus. Morbi molestie tellus id velit aliquet, ut interdum augue blandit. Ut nec tellus vitae est egestas mattis. Vivamus lobortis leo eu ante tempor dapibus. Donec odio augue, venenatis eget ligula sed, faucibus malesuada nisi. Integer sit amet sem at purus ornare gravida.
                a.btn.btn-sm.btn-outline-dark(href='#') View Details
                    